<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sass/modules/main.css">
    <title>My Favorite thing</title>
</head>

<body class="skin">
    <main class="teamText"  id="app"><!--------vue will attach--->
        <div class="hero">
            <h1 class="teamTitle">My Favorite thing</h1>
            <h2>{{ welcome }}</h2>
    
            <p>{{ topic }}</p>
            <ul>
                <li v-for="member in member">{{ member }}</li>
            </ul>
            <a class="teamText" href="./index1.html">
                <button class="close" @click="logicbutton">Click me!</button>
            </a>
        </div>    
        
        <br>

        <div class="prductDescNew">   
            <section class="productDescNew" v-for="member in remoteData">
                <!----<pre>{{ member }}</pre>--->
                <h2>{{ member.topic }}</h2>
                <h3>{{ member.value }}</h3>
                <p>{{ member.text }}</p>
                
    
                <img :src='"images/" + member.photo' alt="member.photo" class="roundShadowNew">
            </section>
        </div>
        
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <script src="js/main.js"></script>
    

</body>

</html>